* {
  text-decoration: none;
}

footer {

}

table {
  border: 1px solid #000;
  border-collapse: collapse;
}

th {
  padding: 10px;
  border: 1px solid #000;
  background-color: #a9a9a9;
}

td {
  padding: 10px;
  border: 1px solid #000;
  text-align: center;
  background-color: #f5f5f5;
}

.flash {

}